[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/Jannikitten/wolfssl.git
	shallow = true
[submodule "botan"]
	path = botan
	url = https://github.com/Jannikitten/botan.git
	shallow = true
